*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d1d9e9;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sombra{
    position: absolute;
    aspect-ratio: 2.5/1;
    width: 30vw;
    border-radius: 15vh;
    box-shadow: 0px -8px 9px 0px rgba(0, 0, 0, 0.206) inset;
}
.background{
    aspect-ratio: 2.5/1;
    width: 30vw;
    border-radius: 15vh;
    box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 1) inset;
    background-color: #357bb3;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 7px solid #b4bbc7;
    border-bottom: 7px solid #f5eaea;
    transition: 800ms ease-in-out;
}
.black{
    background-color: black;
}
.fondoEsfera{
    position: absolute;
    height: 150%;
    width: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.15);
    left: -10%;
    transition: 800ms ease-in-out;
}
.right{
    left: 50%;
}
.fondoEsfera:hover{
    left: -3%;
}
.fondoEsfera.right:hover{
    left: 43%;
}
.fondoEsfera::before{
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 2;
}
.fondoEsfera::after{
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 1;
}
.esfera{
    position: relative;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin: 4%;
    background-color: #f1c428;
    filter: drop-shadow(2px 2px 5px #00000071);
    box-shadow: -5px -7px 5px 0px rgba(0, 0, 0, 0.3) inset;

    z-index: 5;
    cursor: pointer;
    overflow: hidden;
}
.luna{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: 4%;
    background-color: #dedede;
    filter: drop-shadow(2px 2px 5px #00000071);
    box-shadow: -5px -7px 5px 0px rgba(0, 0, 0, 0.3) inset;
    top: -4%;
    right: -130%;
    z-index: 5;
    cursor: pointer;
    transition: 800ms ease-in-out;
}
.center{
    right: -4%;
}
.crater1{
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: rgba(176, 176, 176);
    border-radius: 50%;
    top: 45%;
    left: 15%;
}
.crater2{
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: rgba(176, 176, 176);
    border-radius: 50%;
    top: 18%;
    left: 30%;
}
.crater3{
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: rgba(176, 176, 176);
    border-radius: 50%;
    top: 60%;
    left: 60%;
}
.nube{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 800ms ease-in-out;
}
.abajo{
    margin-top: 120%;
}
.n1{
    position: absolute;
    height: 75%;
    width: 30%;
    border-radius: 50%;
    background-color: white;

    right: -15%;
    bottom: 10%;
}
.n1::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100% 0% 0% 100% / 100% 31% 69% 0%;
    background-color: rgb(255, 255, 255);

    right: 20%;
    bottom: 72%;
    opacity: 0.5;
}
.n2{
    position: absolute;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    background-color: white;

    right: 2%;
    bottom: -3%;
}
.n2::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 37% 63% 0% 100% / 50% 0% 100% 50%;
    background-color: rgb(255, 255, 255);

    right: 35%;
    bottom: 34%;
    opacity: 0.5;
}
.n3{
    position: absolute;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    background-color: white;

    right: 15%;
    bottom: -25%;
}
.n3::before{
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 37% 63% 0% 100% / 50% 0% 100% 50%;
    background-color: rgb(255, 255, 255);

    right: 55%;
    bottom: 0%;
    opacity: 0.5;
    transform: rotate(50deg);
}
.n4{
    position: absolute;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    background-color: white;

    right: 30%;
    bottom: -35%;
}
.n4::before{
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 37% 63% 0% 100% / 50% 0% 100% 50%;
    background-color: rgb(255, 255, 255);

    right: 115%;
    bottom: 10%;
    opacity: 0.5;
    transform: rotate(150deg);
}
.n5{
    position: absolute;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    background-color: white;

    right: 45%;
    bottom: -30%;
}
.n5::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    right: 165%;
    bottom: 20%;
    opacity: 0.5;
    transform: rotate(10deg);
}
.n6{
    position: absolute;
    height: 55%;
    width: 35%;
    border-radius: 50%;
    background-color: white;

    right: 60%;
    bottom: -30%;
}

    .estrellas{
        width: 100%;
        height: 100%;
        position: absolute;
        aspect-ratio: 2.1/1;
        transition: 800ms ease-in-out;

        bottom: 100%;
    }
    .newstar{
        bottom: 0%;
    }
    .star1{
        height: 25%;
        width: 10%;
        scale: 0.7;
        background-color: white;
        position: absolute;

        left: 50%;
        bottom: 50%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(-20deg);
    }
    .star2{
        height: 25%;
        width: 10%;
        scale: 0.3;
        background-color: white;
        position: absolute;

        left: 45%;
        bottom: 25%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
    .star3{
        height: 25%;
        width: 10%;
        scale: 0.5;
        background-color: white;
        position: absolute;

        left: 40%;
        bottom: 70%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(20deg);
    }
    .star4{
        height: 25%;
        width: 10%;
        scale: 0.25;
        background-color: white;
        position: absolute;

        left: 35%;
        bottom: 40%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(20deg);
    }
    .star5{
        height: 25%;
        width: 10%;
        scale: 0.2;
        background-color: white;
        position: absolute;

        left: 40%;
        bottom: 5%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(20deg);
    }
    .star6{
        height: 25%;
        width: 10%;
        scale: 0.7;
        background-color: white;
        position: absolute;

        left: 24%;
        bottom: 70%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(40deg);
    }
    .star7{
        height: 25%;
        width: 10%;
        scale: 0.5;
        background-color: white;
        position: absolute;

        left: 20%;
        bottom: 35%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(-60deg);
    }
    .star8{
        height: 25%;
        width: 10%;
        scale: 0.2;
        background-color: white;
        position: absolute;

        left: 10%;
        bottom: 15%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(-60deg);
    }
    .star9{
        height: 25%;
        width: 10%;
        scale: 0.2;
        background-color: white;
        position: absolute;

        left: 22%;
        bottom: 0%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(-60deg);
    }
    .star10{
        height: 25%;
        width: 10%;
        scale: 0.5;
        background-color: white;
        position: absolute;

        left: 5%;
        bottom: 50%;
        clip-path: polygon(50% 0%, 61% 35%, 
        98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%);

        transform: rotate(-60deg);
    }